.inputfield {
  padding-block: 1rem;
}

.inputfield label {
  color: var(--blue-950);
  font-weight: 400;
}

.inputfield input {
  width: clamp(200px, 50vw, 70vw);
  border: 1px solid var(--purple-200);
  outline: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  color: var(--blue-950);
  font-weight: 500;
  transition: border-color 0.5s ease;
}

.inputfield input:focus {
  border-color: var(--blue-950);
  outline: none;
}
